<% content_for :title do %>
  <%= "Sign Up | #{t('app.name')}" %>
<% end %>

<h1 class="page--title">Sign up</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Get ready to hire the best talent ever!</p>
</div>

<div class="main--content">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'uk-form-stacked'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="uk-margin">
      <%= f.label :email, :class => "uk-form-label" %>
      <div class="form-controls">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "uk-input uk-width-1-2" %>
      </div>      
    </div>

    <div class="uk-margin">
      <%= f.label "Password  (#{@minimum_password_length} characters minimum)", :class => "uk-form-label" %>
      <div class="form-controls">
        <%= f.password_field :password, autocomplete: "off", :class => "uk-input uk-width-1-2" %>
      </div>      
    </div>

    <div class="uk-margin">
      <%= f.label :password_confirmation, :class => "uk-form-label" %>
      <div class="form-controls">
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "uk-input uk-width-1-2" %>
      </div>
    </div>

    <div class="uk-margin">
      <%= f.submit "Sign up", :class => "uk-button uk-button-primary" %>
    </div>

  <% end %>
  <%= render "devise/shared/links" %>
</div>
