<% content_for :title do %>
  <%= "Sign Up | #{t('app.name')}" %>
<% end %>
<main class="dc-signup">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <h1 class="page--title">Sign up</h1>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <% if alert %>
                <span class="alert">
                  <%= alert %>
                </span>
              <% end %>
              <%= form_for(@user, url: start_user_registration_path, :html => {:class => 'uk-form-horizontal'}) do |f| %>

                <fieldset>
                  <%= f.fields_for @job do |form| %>
                    <%= render 'job_form', form: form, job: @job %>
                  <% end %>
                </fieldset>

                <fieldset>
                  <%= f.fields_for @company do |form| %>
                    <%= render 'company_form', form: form, company: @company %>
                  <% end %>
                </fieldset>
  
                <fieldset>
                  <h2>Login Details</h2>

                  <% if @user.errors.any? %>
                    <div class="error_explanation">
                      <ul>
                        <% @user.errors.full_messages.each do |message| %>
                          <li>
                            <%= message %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="uk-margin">
                    <%= f.label :email, :class => "uk-form-label" %>
                    <div class="uk-form-controls">
                      <%= f.email_field :email, autocomplete: "email", :class => "uk-input" %>
                    </div>      
                  </div>

                  <div class="uk-form-controls uk-padding-small uk-padding-remove-left uk-padding-remove-vertical">
                    <div class="uk-margin">
                      <%= f.submit "Sign up", :class => "uk-button uk-button-primary" %>
                    </div>
                  </div>
                </fieldset>

              <% end %>
              <div class="uk-form-horizontal">
                <div class="uk-form-controls uk-padding-small uk-padding-remove-left uk-padding-remove-vertical">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>