= form_with(model: job, local: true, :class => "pure-form pure-form-stacked") do |form|
  - if job.errors.any?
    .error_explanation
      %h2
        = pluralize(job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - job.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :role
    = form.text_field :role
    %span.pure-form-message What will be their title at the new role?
  .field
    = form.label :duration
    = form.select(:duration, {"Full-time" => "Full-Time", "Contract" => "Contract", "Internship" => "Internship"})
    %span.pure-form-message What is the duration for this project?
  .field
    = form.label :salary
    = form.select(:salary, {"Up to USD 500" => "Up to USD 500", "USD 500 - 1k" => "USD 500 - 1k", "USD 1k - 2k" => "USD 1k - 2k", "USD 2k - 3k" => "USD 2k - 3k", "USD 3k+" => "USD 3k+"}) 
    %span.pure-form-message Please note: there's a correlation between experience/expertise and compensation. Therefore, it's important to provide a figure to attract the right pool of candidates.
  .field
    = form.label :requirements
    = form.text_area :requirements
    %span.pure-form-message What are the 1 to 3 main things you need your future developer to help with? Please feel free to keep this as simple as possible and use every day language. Please be as specific as possible. For example: "I need the developer to help us build a new iPhone app"
  .field
    = form.label :qualification
    = form.text_area :qualification
    %span.pure-form-message This could be anything from "I require the developer to be fluent in French" to something as technical as "I require the developer to have an expert-level familiarity with PHP"
  .field
    = form.label :perks
    = form.text_area :perks
    %span.pure-form-message Please remember that the best developers are motivated by a mission. Please *sell* the project succinctly.
  .field
    = form.label :company
    = form.text_field :company
  .field
    = form.label :contact_email
    = form.email_field :contact_email
  .field
    = form.label :poster_name
    = form.text_field :poster_name
  .field
    = form.label :phone
    = form.text_field :phone
  .actions
    = form.submit
