%p#notice= notice
%h1 Jobs
%table
  %thead
    %tr
      %th Role
      %th Duration
      %th Salary
      %th Requirements
      %th Qualification
      %th Perks
      %th Company
      %th Contact email
      %th Poster name
      %th Poster email
      %th Phone
      %th{:colspan => "3"}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.role
        %td= job.duration
        %td= job.salary
        %td= job.requirements
        %td= job.qualification
        %td= job.perks
        %td= job.company
        %td= job.contact_email
        %td= job.poster_name
        %td= job.poster_email
        %td= job.phone
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Job', new_job_path
