- content_for :title do
  = " Edit Job - #{@job.role} at #{@job.company} | #{t('app.name')}"

%h1.page--title Editing Job
%p.page--legend= @job.role + " at " + @job.company

.main--content
  = render 'form', job: @job
  = link_to 'Show', @job
  |
  = link_to 'Back', jobs_path
