- content_for :title do
  = "#{t('app.name')} | Add New Job"
  
%h1.page--title Add New Job
%p.page--legend Provide candid, relevant information for best results

.main--content
  - if user_signed_in?
    = render 'form', job: @job
    = link_to 'Back', jobs_path
  - else
    %p Please sign in to create a job listing
    = link_to('Sign in', new_user_session_path)
    %p or
    = link_to('Sign up', new_user_registration_path)