- content_for :title do
  = "#{t('app.name')} | #{@job.role} at #{@job.company}"

%h1.page--title= @job.role + " at " + @job.company
%p.page--legend Listed by #{@job.poster_name} #{time_ago_in_words(@job.created_at)} ago

.main--content
  %h2.job--field__title Role
  %p.job--field__content= @job.role
  
  %h2.job--field__title Duration
  %p.job--field__content= @job.duration
  
  %h2.job--field__title Salary
  %p.job--field__content= @job.salary
  
  %h2.job--field__title Requirements
  = simple_format h(@job.requirements), :class => "job--field__content"
  
  %h2.job--field__title Qualification
  = simple_format h(@job.qualification), :class => "job--field__content"
  
  %h2.job--field__title Perks
  = simple_format h(@job.perks), :class => "job--field__content"
  
  %h2.job--field__title Company
  %p.job--field__content= @job.company
  
  %h2.job--field__title Contact email
  %p.job--field__content= mail_to(@job.contact_email, @job.contact_email)
  
  %h2.job--field__title Poster name
  %p.job--field__content= @job.poster_name
  
  %h2.job--field__title Poster email
  %p.job--field__content= mail_to(@job.user.email, @job.user.email)
  
  %h2.job--field__title Phone
  %p.job--field__content= @job.phone

  - if user_signed_in? && @job.user_id == current_user.id
    = link_to 'Edit | ', edit_job_path(@job)

  = link_to 'View All Jobs', jobs_path