<% content_for :title do %>
  <%= "#{@job.role} at #{@job.company} | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">
  <%= @job.role + " at " + @job.company %>
</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Listed by #{@job.poster_name} #{time_ago_in_words(@job.created_at)} ago</p>
  <div class="share--buttons">
    <%= link_to('Tweet', tweetButtonText, :target => "_blank", :class => "share--button share--buttons__tweet", "data-hashtags" => "devcongressjobs", "data-related" => "DevCongress") %>
    <%= link_to('Share', fbButtonText, :target => "_blank", :class => "share--button share--buttons__fb", "data-hashtags" => "devcongressjobs", "data-related" => "DevCongress") %>
  </div>
</div>
<div class="main--content">
  <h2 class="job--field__title">Role</h2>
  <p class="job--field__content">
    <%= @job.role %>
  </p>
  <h2 class="job--field__title">Duration</h2>
  <p class="job--field__content">
    <%= @job.duration %>
  </p>
  <h2 class="job--field__title">Salary</h2>
  <p class="job--field__content">
    <%= @job.salary %>
  </p>
  <h2 class="job--field__title">Requirements</h2>
  <%= simple_format h(@job.requirements), :class => "job--field__content" %>
  <h2 class="job--field__title">Qualification</h2>
  <%= simple_format h(@job.qualification), :class => "job--field__content" %>
  <h2 class="job--field__title">Perks</h2>
  <%= simple_format h(@job.perks), :class => "job--field__content" %>
  <h2 class="job--field__title">Company</h2>
  <p class="job--field__content">
    <%= @job.company %>
  </p>
  <h2 class="job--field__title">Contact email</h2>
  <p class="job--field__content">
    <%= mail_to(@job.contact_email, @job.contact_email) %>
  </p>
  <h2 class="job--field__title">Poster name</h2>
  <p class="job--field__content">
    <%= @job.poster_name %>
  </p>
  <h2 class="job--field__title">Poster email</h2>
  <p class="job--field__content">
    <%= mail_to(@job.user.email, @job.user.email) %>
  </p>
  <h2 class="job--field__title">Phone</h2>
  <p class="job--field__content">
    <%= @job.phone %>
  </p>
  <% if user_signed_in? && @job.user_id == current_user.id %>
    <%= link_to 'Edit | ', edit_job_path(@job) %>
  <% end %>
  <%= link_to 'View All Jobs', jobs_path %>
</div>
