- content_for :title do
  = "#{t('app.name')} | #{@job.role} at #{@job.company}"

%p
  %h2.page--title= @job.role + " at " + @job.company

.main--content
  %p
    %strong Role:
    = @job.role
  %p
    %strong Duration:
    = @job.duration
  %p
    %strong Salary:
    = @job.salary
  %p
    %strong Requirements:
    = @job.requirements
  %p
    %strong Qualification:
    = @job.qualification
  %p
    %strong Perks:
    = @job.perks
  %p
    %strong Company:
    = @job.company
  %p
    %strong Contact email:
    = @job.contact_email
  %p
    %strong Poster name:
    = @job.poster_name
  %p
    %strong Poster email:
    = @job.user.email
  %p
    %strong Phone:
    = @job.phone

  - if user_signed_in?
    - if @job.user_id == current_user.id
      = link_to 'Edit', edit_job_path(@job)
      |
  = link_to 'View All Jobs', jobs_path