<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @job.role %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @job.duration %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @job.qualification %>
</p>

<p>
  <strong>Perks:</strong>
  <%= @job.perks %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @job.contact_email %>
</p>

<p>
  <strong>Poster name:</strong>
  <%= @job.poster_name %>
</p>

<p>
  <strong>Poster email:</strong>
  <%= @job.poster_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @job.phone %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
