- content_for :title do
  = "Forgot Your Password? | #{t('app.name')}"

%h1.page--title Forgot your password?
.page--legend-buttons
  %p.page--legend Don't forget set a strong password
.main--content
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions
      = f.submit "Send me reset password instructions"
  = render "devise/shared/links"
