<% content_for :title do %>
  <%= "Forgot Your Password? | #{t('app.name')}" %>
<% end %>
<main class="dc-forgot-password">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <h1 class="page--title">Forgot your password?</h1>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "uk-form-horizontal" }) do |f| %>
                <%= devise_error_messages! %>
                <div class="uk-margin">
                  <%= f.label :email, :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "uk-input" %>
                  </div>
                </div>
                
                <div class="uk-form-controls uk-padding-small uk-padding-remove-left uk-padding-remove-vertical">
                  <div class="uk-margin">
                    <%= f.submit "Send me password reset instructions", :class => "uk-button uk-button-primary" %>
                  </div>
                </div>
              <% end %>
              <div class="uk-form-horizontal">
                <div class="uk-form-controls uk-padding-small uk-padding-remove-left uk-padding-remove-vertical">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-text-left uk-width-1-4@m">
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom dc-content-container">
              <h3>Instructions</h3>
              <p>Don't forget to set a strong password.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
