<h1>Register Your Company</h1>
<h4>
  In order to post jobs, you should register your company. You're allowed to register more than one companies which means recruiters can register as many clients as they want
</h4>
<section class="form">
  <%= form_with model: @company do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, placeholder: "Acme Widgets Inc." %>
    </div>
    <div class="field">
      <%= f.label :industry %>
      <%= f.collection_select :industry, Industry.all, :name, :name do %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :description, "About" %>
      <%= f.text_area :description, required: true %>
    </div>
    <div class="field">
      <%= f.label :website, "Website" %>
      <%= f.url_field :website %>
    </div>
    <div class="field">
      <%= f.label :email, "Contact Email" %>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="field">
      <%= f.label :phone, "Contact Phone" %>
      <%= f.telephone_field :phone, required: true %>
    </div>
    <div class="field">
      <%= f.label :city, "City" %>
      <%= f.text_field :city, require: true %>
    </div>
    <div class="field">
      <%= f.label :state_or_region, "State/Region" %>
      <%= f.text_field :state_or_region, require: true %>
    </div>
    <div class="field">
      <%= f.label :post_code, "Post/Zip Code" %>
      <%= f.text_field :post_code, require: true %>
    </div>
    <div class="field">
      <%= f.label :country, "Country" %>
      <%= f.text_field :country, require: true %>
    </div>
    <div class="field">
      <%= f.submit "Register" %>
    </div>
  <% end %>
</section>
