<% content_for :title do %>
  <%= "Register Your Company | #{t('app.name')}" %>
<% end %>
<main class="dc-companies-new">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <div class="uk-grid">
          <div class="uk-width-2-3@l">
            <h1 class="page--title">Register Your Company</h1>
          </div>
          <div class="uk-width-1-3@l">
            <p class="dc-job-meta uk-text-right uk-text-middle"></p>
          </div>
        </div>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-flex-last uk-flex-first@m uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <%= form_with(model: @company, :class => "uk-form-horizontal") do |form| %>
                <div class="uk-margin">
                  <%= form.label :name, :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.text_field :name, required: true, placeholder: "Acme Widgets Inc.", :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :industry, "Industry", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.select :industry, StaticData[:industries].map {|v| [v, v]}, {}, { class: "uk-select" } %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :description, "About", :class => "uk-form-label" %>
                  <%= form.hidden_field :description, required: true, id: 'description' %>
                  <div class="uk-form-controls">
                    <trix-editor input="description"></trix-editor>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :website, "Website", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.url_field :website, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :email, "Contact Email", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.email_field :email, required: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :phone, "Contact Phone", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.telephone_field :phone, required: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :city, "City", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.text_field :city, require: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :state_or_region, "State/Region", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.text_field :state_or_region, require: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :post_code, "Post/Zip Code", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.text_field :post_code, require: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-margin">
                  <%= form.label :country, "Country", :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= form.text_field :country, require: true, :class => "uk-input" %>
                  </div>
                </div>

                <div class="uk-form-controls uk-padding-small uk-padding-remove-left">
                  <div class="uk-margin">
                    <%= form.submit "Register", :class => "uk-button uk-button-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="uk-flex-first uk-flex-last@m uk-text-left@m uk-width-1-4@m">
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom dc-content-container">
              <h3>Instructions</h3>
              <p>In order to post jobs, you should register your company. You're allowed to register more than one company which means recruiters can register as many clients as they want.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
