<% content_for :title do %>
  <%= "#{@company.name} | #{t('app.name')}" %>
<% end %>
<main class="dc-home">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <div class="uk-grid">
          <div class="uk-width-1-2@m uk-margin-small-bottom">
            <h1 class="page--title"><%= link_to @company.name, @company.website %></h1>
          </div>
          <div class="uk-width-1-2@m">
            <p class="dc-job-meta uk-text-right@m">
              <span class="dc-job-type uk-margin-right"><%= @company.industry %></span>
              <%= link_to "Visit Company Website", @company.website %>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-flex-last uk-flex-first@m uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <% if @company.jobs.empty? %>
                <p>No jobs have been posted for <%= @company.name %> yet.</p>
                <% if current_user && current_user.companies.include?(@company)%>
                  <p>Are you hiring for any role? Use this <%= link_to "link", new_job_path %> to create the job post.</p>
                <% end %>
              <% else %>
                <h3>Jobs</h3>
                <%= render 'company_jobs_list', company: @company %>
              <% end %>
            </div>


          </div>

          <div class="uk-flex-first uk-flex-last@m uk-text-left uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom dc-content-container">
              <h2>About Company</h2>
              <p><%= @company.description.html_safe %></p>
              <section class="address">
                <h3>Address</h3>
                <p>
                  <%= @company.city %><br>
                  <%= @company.state_or_region %><br>
                  <%= @company.country %> <%= @company.post_code %>
                </p>
              </section>

              <% if current_user && current_user.companies.include?(@company) %>
                <%= link_to "Edit", edit_company_path(@company), :class => "uk-button uk-button-default", style: "width: 100%" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>