<h1><%= @company.name %></h1>
<h2><%= @company.industry %></h2>
<div class="main--content">
  <p><%= link_to "Website", @company.website %></p>
  <p><%= @company.description %></p>
  <p><%= @company.city %></p>
  <p><%= @company.country %></p>
  <% if @company.jobs.empty? %>
    <p>No jobs have been posted for <%= @company.name %> yet.</p>
    <p>Are you hiring for any role? Use this <%= link_to "link", new_job_path %> to create the job post</p>
  <% else %>
    <ul>
      <% @company.jobs.each do |job| %>
        <li>
          <%= link_to job.role, job %>
          <small>(posted <%= time_ago_in_words(job.created_at) %> ago)</small>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user && current_user.companies.include?(@company) %>
  <p><%= link_to "Edit", edit_company_path(@company) %></p>
  <% end %>
</div>
