<h1><%= link_to @company.name, @company.website %></h1>
<h2><%= @company.industry %></h2>
<div class="main--content">
  <p><%= link_to "Website", @company.website %></p>
  <p><%= @company.description.html_safe %></p>
  <section class="address">
    <h2>Address</h2>
    <p>
      <%= @company.city %><br>
      <%= @company.state_or_region %><br>
      <%= @company.country %> <%= @company.post_code %>
    </p>
  </section>
  <% if @company.jobs.empty? %>
    <p>No jobs have been posted for <%= @company.name %> yet.</p>
    <p>Are you hiring for any role? Use this <%= link_to "link", new_job_path %> to create the job post</p>
  <% else %>
    <h2>Jobs</h2>
    <ul>
      <% @company.jobs.each do |job| %>
        <% if job.active? %>
          <li>
            <%= link_to job.role, job %>
            <small>(posted <%= time_ago_in_words(job.published_on) %> ago)</small>
          </li>
        <% else %>
            <li>
              <s>
                <%= link_to job.role, job %>
                <small>(posted <%= time_ago_in_words(job.published_on) %> ago)</small>
              </s>
              <%= link_to "Renew", renew_job_path(job), method: :post %>
            </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% if current_user && current_user.companies.include?(@company) %>
    <p><%= link_to "Edit", edit_company_path(@company) %></p>
  <% end %>
</div>
