<h1><%= @company.name %></h1>
<p><%= @company.industry %></p>
<p><a href="<%= @company.website %>"><%= @company.website %></a></p>
<p><%= @company.description %></p>
<p><%= @company.city %></p>
<p><%= @company.country %></p>
