<% content_for :title do %>
  <%= "Log In | #{t('app.name')}" %>
<% end %>
<main class="dc-home">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <h1 class="page--title">Sign In</h1>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <% if alert %>
                <span class="uk-alert-danger">
                  <%= alert %>
                </span>
              <% end %>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'uk-form-horizontal'}) do |f| %>
                <%= devise_error_messages! %>    
                
                <div class="uk-margin">
                  <%= f.label :email, :class => "uk-form-label" %>
                  <div class="uk-form-controls">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "uk-input" %>
                  </div>
                </div>
                
                <div class="uk-margin">
                  <div class="uk-form-controls">
                    <% if devise_mapping.rememberable? %>
                      <div class="uk-margin">
                        <div class="form-controls">
                          <label>
                            <input name="user[remember_me]" type="hidden" value="0" /><input class="uk-checkbox" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
                            Remember Me
                          </label>
                          <span class="uk-align-right uk-margin-remove-bottom">
                          <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                          <% end %>
                        </span>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                
                <div class="uk-form-controls uk-padding-small uk-padding-remove-left uk-padding-remove-vertical">
                  <div class="uk-margin">
                    <%= f.submit "Log in", :class => "uk-button uk-button-primary" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </section>
  </article>
</main>
