<% content_for :title do %>
  <%= "Log In | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">Log in</h1>
<p class="page--legend">Welcome back.</p>
<div class="main--content">
  <% if alert %>
    <span class="alert">
      <%= alert %>
    </span>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'uk-form-stacked'}) do |f| %>
    <%= devise_error_messages! %>    
    
    <div class="uk-margin">
      <%= f.label :email, :class => "uk-form-label" %>
      <div class="form-controls">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "uk-input uk-width-1-2" %>
      </div>
    </div>
    
    <div class="uk-margin">
      <%= f.label :password, :class => "uk-form-label" %>
      <div class="form-controls">
        <%= f.password_field :password, autocomplete: "off", :class => "uk-input uk-width-1-2" %>
      </div>
    </div>
    
    <% if devise_mapping.rememberable? %>
      <div class="uk-margin">
        <div class="form-controls">
          <label class="uk-form-label">
            <input name="user[remember_me]" type="hidden" value="0" /><input class="uk-checkbox" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
            Remember Me
          </label>
        </div>
      </div>
    <% end %>
    
    <div class="uk-margin">
      <%= f.submit "Log in", :class => "uk-button uk-button-primary" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
