<header class="dc-header">
  <div class="uk-container uk-navbar-container uk-navbar uk-navbar-transparent">
    <div class="uk-navbar-left">
      <%= link_to image_tag( 'devcongress-logo.png', alt: 'devcongress logo', height: '', width: '', class: 'dc-logo' ), root_path, :class => "" %>
    </div>
    <div class="uk-navbar-right">
        <nav class="dc-header--nav">
          <% if user_signed_in? %>
            <%= link_to 'Your Profile', profile_path, class: "dc-header--nav-link" %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dc-header--nav-link" %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: "dc-header--nav-link" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "dc-header--nav-link" %>
          <% end %>
          <%= link_to '+ Post a Job', new_job_path, class: "uk-button uk-button-primary dc-header--nav-button" %>
        </nav>
    </div>
  </div>
</header>