%title= yield(:title)
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
= favicon_link_tag asset_path('devcongress-logo-32.ico'), :rel => "shortcut icon", :type => "image/x-icon" 
= favicon_link_tag asset_path('devcongress-logo-57.ico'), :rel => "apple-touch-icon", :sizes => "57x57"
= favicon_link_tag asset_path('devcongress-logo-114.ico'), :rel => "apple-touch-icon", :sizes => "114x114"
= favicon_link_tag asset_path('devcongress-logo-72.ico'), :rel => "apple-touch-icon", :sizes => "72x72"
= favicon_link_tag asset_path('devcongress-logo-144.ico'), :rel => "apple-touch-icon", :sizes => "144x144"
%meta{'name' => 'description', 'content' => 'DevCongress Jobs is a website that helps companies to find technical talent across Africa.'}
%meta{'name' => 'keywords', 'content' => 'devcongress, jobs, remote jobs, developer jobs, developer, engineer, devcongress jobs'}
%meta{'name' => 'google-site-verification', 'content' => 'z9ECY2G8PZ46qx5_5dFZ_a1BHNz9_2v3lZ55QTegnLg'}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%meta{:content => "always", :name => "referrer"}/
%meta{:content => "#e6f7fd", :name => "theme-color"}/
%link{:href => "https://fonts.googleapis.com/css?family=Cairo", :rel => "stylesheet"}/
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KHKSCXW');
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
= csrf_meta_tags
= csp_meta_tag
