!!!	
%html	
  %head	
    = render 'layouts/meta_and_styles'	
  %body
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KHKSCXW", :style => "display:none;visibility:hidden", :width => "0"}
    .main	
      = render 'layouts/navbar'	
      %span.notice= notice	
      = yield	
      = render 'layouts/footer'