!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render 'layouts/meta_and_styles'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .main
      = render 'layouts/navbar'
      = yield
      = render 'layouts/footer'
